@font-face {
    font-family: "PlusJakartaSans";
    src: url("<?= BASE_URL ?>/assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url("<?= BASE_URL ?>/assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url("<?= BASE_URL ?>/assets/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

.AuctionsList-page .ButtonBackHome {
    margin-left: 30px;
    margin-top: 20px;
}

.AuctionsList-page html,
.AuctionsList-page body {
    font-family: "PlusJakartaSans", sans-serif;
}

.AuctionsList-page .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
}

/* FILTER BOX */
.AuctionsList-page .filter-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 16px 18px;
    border-radius: 8px;
    margin-left: 8px;
}

.AuctionsList-page .filter-box label {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.AuctionsList-page .filter-tittle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.AuctionsList-page .filter-box input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
}

/* APPLY and CLEAR BUTTON */
.AuctionsList-page .button-apply,
.AuctionsList-page .button-clear {
    width: 80px;
    margin-top: 12px;
    border: 1px solid #000;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.AuctionsList-page .button-apply:hover,
.AuctionsList-page .button-clear:hover {
    background-color: #e0a800;
    border-color: #e0a800;
    color: #ffffff;
}

/* CARD AUCTION */
.AuctionsList-page .col-md-9 {
    padding-left: 20px !important;
}

/* MODIFIKASI: Mengubah row-cols-md-2 menjadi row-cols-md-3 */
.AuctionsList-page .row-cols-md-3 > * {
    padding: 8px !important;
}

.AuctionsList-page .auction-card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    transition: all 0.2s ease-in-out; 
}

.AuctionsList-page .auction-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.AuctionsList-page .card-body {
    padding: 14px 16px;
}

.AuctionsList-page .auction-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.AuctionsList-page .home-subtitle {
    padding-left: 12px;
    font-size: 32px;
    font-weight: 600;
}

/* CARD TITTLE */
.AuctionsList-page .card-tittle {
    font-size: 20px;
    font-weight: 600;
}

/* DESCRIPTION */
.AuctionsList-page .card-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

/* COUNTDOWN BOX */
.AuctionsList-page .countdown-box {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    margin-top: 10px;
}

.AuctionsList-page .count-item {
    flex-grow: 1;
    width: auto;
    text-align: center;
    background: #f5f5f5;
    padding: 6px 0;
    border-radius: 6px;
}

.AuctionsList-page .count-item:nth-child(1),
.AuctionsList-page .count-item:nth-child(2),
.AuctionsList-page .count-item:nth-child(3),
.AuctionsList-page .count-item:nth-child(4) {
    max-width: 55px;
}

.AuctionsList-page .count-item span {
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 1;
    margin-bottom: 4px;
}

.AuctionsList-page .count-label {
    font-size: 10px;
    margin-top: 0;
    color: #777;
    text-transform: uppercase;
    font-weight: 500;
}

/* BID BUTTON */
.AuctionsList-page .bid-btn {
    display: block;
    width: 100%;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 8px 16px;
    transition: 0.2s ease;
}

.AuctionsList-page .bid-btn:hover {
    background-color: #e0a800;
    border-color: #e0a800;
    color: #ffffff;
}