@font-face {
  font-family: "PlusJakartaSans";
  src: url("<?= BASE_URL ?>/assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype");
}

body {
  font-family: "PlusJakartaSans", sans-serif;
}

.page-register {
  font-family: "PlusJakartaSans", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-register .register-container {
  text-align: center;
  width: 350px;
  margin-top: -100px;
}

.page-register .logo {
  width: 140px;
  margin-bottom: 30px;
}

.page-register h2 {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 500;
  color: #2f2f2f;
}

.page-register .input-group {
  text-align: left;
  margin-bottom: 18px;
}

.page-register label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.page-register .input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background: #fafafa;
  font-size: 14px;
}

.page-register button {
  width: 100%;
  padding: 12px;
  background: #d1d5db;
  color: #555555;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.page-register button:hover {
  background: #c3c7cd;
}

.page-register .register a {
  color: #1a3da8;
  text-decoration: none;
}

.page-register .register a:hover {
  text-decoration: underline;
}

.msg {
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

.error {
  background: #ffeaea;
  color: #b94444;
  border: 1px solid #d17a7a;
}
